/*ellipse*/ 
#ellipse_01 {
    position: absolute;
    top: -800px;
    right: -800px;
}
#ellipse_02 {
    position: absolute;
    right: -900px;
    top: 200px;

}
#ellipse_03 {
    position: absolute;
    left: -900px;
    top: -150px;
}

/*crumbs*/
.crumbs {
    padding: 0 9% !important;
}
.crumbs_content {
    margin: 0 30px;
    text-align: left;
}
.crumbs a {
    color: #FFFFFF;
    text-decoration: none;  
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
}
.crumbs a:hover {
    color: #07DBB4; 
    transform: scale(1.1);
}

.crumbs_content a:last-child {
    color: #07DBB4;
}
.crumbs p{
    color: #FFFFFF;
    margin: 0 10px;   
    display: inline-block;
    font-size: 12px;  
}

/*article*/
.article {
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.article > div:first-child {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.article__like::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url(../images/article_sprite.png);
    background-position: -20px -20px;
    position: relative;
    top: 2px;
}
.article__dislike::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url(../images/article_sprite.png);
    background-position: 4px -20px;
    position: relative;
    top: 2px;
}
.article__eye::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url(../images/article_sprite.png);
    background-position: -2px 2px;
}
.article__message::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url(../images/article_sprite.png);
    background-position: -23px 1px;
}

.article_item {
    background: #121326;
    border-radius: 15px;
    padding: 10px 30px;
    margin-bottom: 50px;
}
.article_item div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.article_item div:first-child p:first-child {
    line-height: 140%;
    opacity: 0.4;
}
.article_item div:first-child p:last-child {
    color: #31325C;
}
.article_item h2 {
    font-size: 28px;
    line-height: 140%;
    text-align: left;
}
.article_item iframe {
    width: 100%;
    height: 450px;
    margin: 40px auto 20px;
}
.article_item p {
    opacity: 0.6;
}
.article_item div:last-child {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #242547;
    margin: 40px 0 10px;
}
.article_item div:last-child p {
    margin-right: 10px;
    color: #31325C;
}

.article_filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.article_filter a {
    display: block;
    background: #242648;
    border-radius: 5px;
    padding: 10px;
    width: 23%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 120%;
    

}
.article_filter a:hover {
    background: #8287F3;
    transform: scale(1.1);
}
.article_filter a:active {
    box-shadow: 0 0 20px #07DBB4 inset;
}


.read__now {
    background: #121326;
    border-radius: 15px;
    padding: 25px;
    width: 255px;
    flex: 0 0 250px;
}
.read__now > h3 {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}
.read__now > * {
    border-bottom: 1px solid #242547;
    padding-bottom: 10px;    
}
.read__now__item {
    display: block;
    text-decoration: none;
    color: #FFFFFF;  
}
.read__now__item:hover {
    color: #07DBB4;
    transform: scale(1.05);
}
.read__now__item div:last-child {
    display: flex;
    justify-content: flex-start;
}
.read__now__item  p:first-child {
    opacity: 0.6;
    margin: 25px 0 10px;
}
.read__now__item div:last-child  p {
    margin: 0 20px 0 0;
    color: #31325C;
    font-size: 12px;
}
.read__now__item div:last-child span {
    color: #07DBB4;
}


.read__today {
    background: #121326;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
}
.read__today > p:first-child {
    line-height: 120%;
    opacity: 0.6;
}
.read__today > div {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.read__today__item {
    width: 31%;
}
.read__today__item  div:first-child img {
    width: 100%;
    border-radius: 15px;
}
.read__today__item h3 {
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
}
.read__today__item > div:first-child + h3 + p {
    line-height: 120%;
    opacity: 0.3;
    margin: 40px 0px 0px;
}
.read__today__item > div:first-child + h3 + p + div {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: -10px;
}
.read__today__item > div:first-child + h3 + p + div p {
    font-size: 12px;
    color: #31325C;
    margin-right: 20px;
}
.read__today__item span {
    color: #07DBB4;
}
.read__today__item a {
    font-size: 14px;
    color: #8287F3;
    text-decoration: none;
}
.read__today__item a:hover {
    color: #07DBB4;
    font-size: 15px;
}
.read__today input, .read__today label {
    display: none;
}


